*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}



.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 200px;
}
.col-2 img{
    max-width: 100%;
    padding: 30px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 50px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #3b7cff;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #344f56;
}


.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
    
}
.col-3{
    flex-basis: 10%;
    min-width: 350px;
    margin-bottom: 40px;
    background: #f0f6d2;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 50px;

}
.col-4{
    flex-basis: 25%;
    padding: 5px;
    min-width: 300px;
    margin-bottom: 50px;
    transition: transform 5s;
    
}
.col-4{
    width: 100%;
    
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    background: #8cafef;
}
.title::after{
    content: '';
    background: #fff;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} 
h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*------------offer-----------*/
.offer{
    background: radial-gradient(#a3bdf4,#acd1f9);
    margin-top: 80px;
    width: 660px;
    
    padding: 30px 0;
    
}
small{
    color: #555;
}
.testimonial{
    padding-top: 100px;
}
.testimonial col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
    cursor: pointer;
    transition: transform 0.9s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
/*------------FOOTER---------*/
.footer{

    color: #000;
    font-size: 20px;

    
}
.footer{
    color: #111010;
}
.footer h3{
    color:#050505;
    margin-bottom: 25px;
}
.footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;

}
.footer-col-2{
    flex: 1;
    text-align: center;
    
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}
/*--------------media quary for menu------------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #fff;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #333;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
} 
/*----------media query for less than 600 screen size--------------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;

    } 
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}